<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite  name="Default suite">
<test name="PDCA ICON Availability">
    <classes>
      <class name="riskmodule.pdca"/>
    </classes>
    </test>
    
    <test name="Seed risk register">
    <classes>
	 <class name="riskmodule.Seed_RiskRegister"/>      
    </classes>
    </test>
    
    <test name="ChromeTest">
<parameter name="browser" value="Chrome" />
<classes>
<class name="riskmodule.pdca">
</class>
</classes>
</test>

<test name="FirefoxTest">
<parameter name="browser" value="Firefox" />
<classes>
<class name="riskmodule.pdca">
</class>
</classes>
</test>

<test name="EdgeTest">
<parameter name="browser" value="Edge" />
<classes>
<class name="riskmodule.pdca">
</class>
</classes>
</test>

    </suite>