<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite  name="Default suite">
<test name="PDCA ICON Availability">
    <classes>
      <class name="riskmodule.pdca"/>
    </classes>
    </test>
    
    <test name="Seed risk register">
    <classes>
	 <class name="riskmodule.Seed_RiskRegister"/>      
    </classes>
    </test>
    
    </suite>